{# {% extends 'base.html.twig' %}

{% block header %} 
<style>
    select { 
        width: 400px; text-align:center; 
    }
</style>

{% endblock %} 

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>MON PANIER</h1>

{% if items | length > 0 %}

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Price</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.articleName}}</td>
                    <td>{{ item.product.price}}</td>
                    <td>
                        <select name="quantity" class="form-control" id="exampleFormControlSelect1">
                         
                            {% for i in 0..10%}
                                <option selected="{{item.quantity}}">{{i}}</option>
                            {% endfor %}
                    
                        </center>
                        </select>
                    </td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td>
                        <a href="#" class="btn btn-success btn-sm">
                            <i class="fas fa-check"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('cart_remove', {'id' : item.product.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                 <td colspan="3" class="text-right"><b>Total : </b></td> 
                <td> <b>{{ total }}</b></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

{% else %}
    <p>Panier Vide</p>
{% endif %}

{% endblock %} #}