{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<div class="container">

    <br>  
    <div class="row">
        {% for article in articles %}
        {% if article.quantity > 0%}
    <div class="col-md-4 d-flex align-items-stretch">
        <figure class="card card-product">
            <div class="img-wrap"><img src="{{article.photos}}"></div>
            <figcaption class="info-wrap">
                    <a href="{{ path('products_details', {'id' : article.id }) }}"><h4 class="title">{{article.articleName}}</h4></a>
                    <p class="desc">{{article.ingredients | raw }}</p>
            </figcaption>
            
            <div class="bottom-wrap mt-auto">
                
                  <br>
                	
                
                <div class="price-wrap h5">
                    
                    <center><span class="price-new"> {{article.price}} € &nbsp;&nbsp;
                        <select id="exampleFormControlSelect1" >
                            {% for i in 1..10 %}
                                <option>{{i}}</option>
                            {% endfor %}</center>
                        </select>
                    </span>
                </div> 
            </div> 
            <a href="" class="btn btn-sm btn-primary float-right"> Ajouter au panier</a>
        </figure>
    </div> 
    {% endif %}
    {% endfor %}
    
</div> 


{% endblock %}