{% extends 'base.html.twig' %}

{% block title %}Detail du produit{% endblock %}

{% block body %}

<hr>
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">

			{% for image in article.images %}
  		<img class="center" src="{{ asset('/uploads/' ~ image.name) }}">
  		    {% endfor %}

		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">{{article.articleName}}</h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="num">{{article.price}} €</span>
	</span> 
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Composition</dt>
  <dd><p>{{article.composition}} </p></dd>
</dl>
<dl class="param param-feature">
  <dt>Ingrédients</dt>
  <dd>{{article.ingredients | raw }}</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Informations nutritionnelles</dt>
  <dd>{{article.nutritionInformation | raw }}</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Origine</dt>
  	<dd>{{article.origine}}</dd>
</dl>  <!-- item-property-hor .// -->

<dl class="param param-feature">
	<dt>Date d'expiration </dt>
		<dd>{{article.expirationDate | date('d/m/Y')}}</dd>
  </dl>  <!-- item-property-hor .// -->

<hr>
	<div class="row">
		<div class="col-sm-5">
			<dl class="param param-inline">
			  <dt>Quantité </dt>
			  <dd>
			  	<select class="form-control form-control-sm" style="width:70px;">
					  {% for i in 1.. article.quantity %}
							{% if article.quantity < 10 %}
								<option> {{i}} </option>
							{% endif %}	
						{% endfor %}
							
						{% if article.quantity > 10 %}
							{% for i in 1..10%}
								<option> {{i}} </option>
							{% endfor %}
						{% endif %}
			  		
			  	</select>
			  </dd>
			</dl>  <!-- item-property .// -->
		</div> <!-- col.// -->
		
	</div> <!-- row.// -->
	<hr>
	<a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Ajouter au panier </a>
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->


</div>
<!--container.//-->

{% endblock %}