{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<div class="container">

    <br>  
    <div class="row">
        {% for article in articles %}
    <div class="col-md-4 d-flex align-items-stretch">
        <figure class="card card-product">
            <div class="img-wrap"><img src="{{article.photos}}"></div>
            <figcaption class="info-wrap">
                    <h4 class="title">{{article.articleName}}</h4>
                    <p class="desc">{{article.ingredients | raw }}</p>
            </figcaption>
            
            <div class="bottom-wrap mt-auto">
                
                  <br>
                	
                
                <div class="price-wrap h5">
                    
                    <center><span class="price-new"> {{article.price}} € &nbsp;&nbsp;
                        <select id="exampleFormControlSelect1" >
                            {% for i in 1..10 %}
                                <option>{{i}}</option>
                            {% endfor %}</center>
                        </select>
                    </span>
                </div> 
            </div> 
            <a href="{{ path('products_details') }}" class="btn btn-sm btn-primary float-right"> Order Now</a>
        </figure>
    </div> 
    {% endfor %}
    
</div> 


{% endblock %}