{% extends 'base.html.twig' %}

{% block header %} 
<style>
    select { 
        width: 400px; text-align:center; 
    }
</style>

{% endblock %} 

{% block title %}Homepage{% endblock %}

{% block body %}

<div class="container">

    <br>  
    <div class="row">
        {% for article in articles %}
        {% if article.quantity > 0%}
    <div class="col-md-4 d-flex align-items-stretch">
        <figure class="card card-product">
            {% for image in article.images %}
                <div>
                    <img src="{{ asset('/uploads/' ~ image.name) }}" width="348">
                </div>
                {% endfor %}
            <figcaption class="info-wrap">
                    <a href="{{ path('products_details', {'id' : article.id }) }}"><h4 class="title">{{article.articleName}}</h4></a>
                    <p class="desc">{{article.ingredients | raw }}</p>
            </figcaption>
            
            <div class="bottom-wrap mt-auto">
                
                  <br>
                
                <div class="price-wrap h5">
                    
                    <center><span class="price-new"> {{article.price}} € 
                        
                        <form action="{{ path('cart_add', {'id' : article.id }) }}" method="post"> <br>
                            <select name="quantity" class="form-control" id="exampleFormControlSelect1">
                            {% for i in 1..10 %}
                                <option>{{i}}</option>
                            {% endfor %}
                        </select>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Ajouter au panier</button>
                            </div>
                        </form>
                        
                        </center>
                
                    </span>
                </div> 
            </div> 
           {#  <a href="{{ path('cart_add', {'id' : article.id }) }}"> Ajouter au panier</a> #}
        </figure>
    </div> 
    {% endif %}
    {% endfor %}
    
</div> 

{% endblock %}